body
{
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px)
{
    html
    {
        background-color: #eaf6ff;
    }

    h1
    {
        font-size: 2.4rem;
    }
}

@media (max-width: 500px)
{
    h1
    {
        font-size: 1.5rem;
    }
}

#fixed-size-grid-items li
{
    font-size: 0.8rem;
    display: block;
}

#fixed-size-grid-items aside
{
    width: 170px;
    margin: 10px;
}

#fixed-size-grid-items ul
{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#stretchable-grid-items li {
    display: block;
    font-size: 0.8rem;
    width: 100%;
}

@media (min-width:480px){
    #stretchable-grid-items li {
        width: 50%;
    }
}

@media (min-width:640px){
    #stretchable-grid-items li {
        width: 25%;
    }
}


#stretchable-grid-items li aside {
    margin: 10px;
}

#stretchable-grid-items ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

