body
{
    background-color: black;
}

.top
{
    height: 10%;
    background-color: #EEB8CD;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.titles
{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Mega', sans-serif;
}

img
{
    margin-left: 5%;
    border: 2px black solid;
}

.content
{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

p
{
    margin: 5px;
}

.spotify
{
    margin-left: 20%;
}